@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
.btns {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    

}
.btns button {
    height: 40px;
    min-width: 80px;
    border-radius: 10px;
    font-family:Ubuntu ;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    border: none;
    outline: none;
}
#add {
    background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#add:hover{
    background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#delete {
    background: #F00000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#delete:hover {
    background: #F00000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #DC281E, #F00000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #DC281E, #F00000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#clear {
    background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#clear:hover {
    background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.input {
    background-color: rgba(255, 255, 255, 0.089);
    border: 1px solid rgba(255, 255, 255, 0.075);
    outline: white;
    color: white;
    font-family: Ubuntu;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
}
input:focus , .input:active {
    background-color: rgba(255, 255, 255, 0.103);
 }
 label {
   color: white;
   font-size: 20px;
   font-family: Ubuntu;
   font-weight: 500;
   letter-spacing: 1px;
   text-transform: uppercase;
 
 }
 .cont{
     display: block;
     
     margin: 0 auto;
     width: 100%;
 }
 #amount{
     width: 100px;
 }
 .inputs {
     width: 80%;
     display: block;
     margin: 10px auto;
 }
 @media only screen and (max-width: 700px) {
     .btns{
         width: 100%;
         padding: 0 20px;
     }
 }